@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Raleway');

h1 {
	font-style: bold;
	font-family: 'Oswald', sans-serif;
}

h2 {
	font-style: regular;
	font-family: 'Oswald', sans-serif;
}

strong {
	font-style: bold;
}

footer {
	font-size: 10px;
}