/*	*************************************
	Base
	************************************* */
body { 
	background-color: #dfeff0;
	color: #1a1a1a;
}

header a { color: #ffffcc;}
header a:hover { color: #0033cc;}

h1 {
	color: #ad235e;
	border-bottom: 1px solid #ad235e;
}

h2 {
	font-style: italic;
	font-weight: normal;
	margin: 0 0 10px 0;
	padding: 5px; 
	background-color: #d5edb3;
	color: #5c743d;
}

p { margin-top: 0; }

ol, ul { padding-left: 20px; }

nav ul { padding-left: 0; }
nav li { display: inline-block; }
nav a { 
	display: block; 
	padding: 10px;
	border: 1px solid #333333;
}
nav a:hover { background-color: #ad235e; }

a { 
	color: #ad235e;
	text-decoration: none;
}
a:hover { color: #b2cecf;}

.container {
	margin: 0 auto;
	width: 80%;
	max-width: 960px; 
}

.right {
	float: right;
	margin-left: 15px;
}
.img-frame {
	border: 1px solid #999999;
	padding: 5px;
}


footer { margin-top: 15px; }

.current {
	background-color: #0033cc;
	color: white;
}